<div id="logo-wrapper" class="animate-out">
	<table id="nav_inner">
		<tr>
			<td><i id="create_mini" class="nav_mini fa fa-pencil fa-fw animate"></i></td>
			<td><i id="reach_mini" class="nav_mini fa fa-magnet fa-fw animate"></i></td>
			<td><i id="track_mini" class="nav_mini fa fa-signal fa-fw animate"></i></td>
			<td><img id="logo" class="animate-slow" src="https://s3.amazonaws.com/wagglez/wagglezlogoclear.png"></td>
			<td><i id="community_mini" class="nav_mini fa fa-users fa-fw animate"></i></td>
			<td><i id="pricing_mini" class="nav_mini fa fa-usd fa-fw animate"></i></td>
			<td><i id="signup_mini" class="nav_mini fa fa-plus-circle fa-fw animate"></i></td>
		</tr>
	</table>
</div>

<h3 id="site-welcome">Athens' Own Homegrown, Easy-To-Use<br />Daily Deal Management App<br />Made Especially For Local Business</h3>

<div id="nav-container">
	<div class="hex-container1 animate">
		<div class="recin1 rec1 animate"></div>
		<div class="recin1 rec2 animate"></div>
		<div class="recin1 rec3 animate"></div>
		<div class="recout1 rec1 animate"></div>
		<div class="recout1 rec2 animate"></div>
		<div class="recout1 rec3 animate"></div>
		<i id="create_icon" class="fa fa-pencil fa-fw hex_icon animate"></i>
		<p class="hextext create animate">CREATE<p>
	</div>
	
	<div class="hex-container2 animate">
		<div class="recin2 rec1 animate"></div>
		<div class="recin2 rec2 animate"></div>
		<div class="recin2 rec3 animate"></div>
		<div class="recout2 rec1 animate"></div>
		<div class="recout2 rec2 animate"></div>
		<div class="recout2 rec3 animate"></div>
		<p class="hextext track animate">TRACK<p>
		<i id="track_icon" class="fa fa-signal fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container3 animate">
		<div class="recin3 rec1 animate"></div>
		<div class="recin3 rec2 animate"></div>
		<div class="recin3 rec3 animate"></div>
		<div class="recout3 rec1 animate"></div>
		<div class="recout3 rec2 animate"></div>
		<div class="recout3 rec3 animate"></div>
		<p class="hextext reach animate">REACH<p>
		<i id="reach_icon" class="fa fa-magnet fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container4 animate">
		<div class="recin4 rec1 animate"></div>
		<div class="recin4 rec2 animate"></div>
		<div class="recin4 rec3 animate"></div>
		<div class="recout4 rec1 animate"></div>
		<div class="recout4 rec2 animate"></div>
		<div class="recout4 rec3 animate"></div>
		<p class="hextext signup animate">SIGN UP<p>
		<i id="signup_icon" class="fa fa-plus-circle fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container5 animate">
		<div class="recin5 rec1 animate"></div>
		<div class="recin5 rec2 animate"></div>
		<div class="recin5 rec3 animate"></div>
		<div class="recout5 rec1 animate"></div>
		<div class="recout5 rec2 animate"></div>
		<div class="recout5 rec3 animate"></div>
		<p class="hextext pricing animate">PRICING<p>
		<i id="pricing_icon" class="fa fa-usd fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container6 animate">
		<div class="recin6 rec1 animate"></div>
		<div class="recin6 rec2 animate"></div>
		<div class="recin6 rec3 animate"></div>
		<div class="recout6 rec1 animate"></div>
		<div class="recout6 rec2 animate"></div>
		<div class="recout6 rec3 animate"></div>
		<p class="hextext community animate" style="margin-top: 18px;">COMMUNITY<p>
		<i id="community_icon" class="fa fa-users fa-fw hex_icon animate"></i>
	</div>

		<div class="rec1 page-arrow page-arrow-right animate"></div>
		<div class="rec2 page-arrow page-arrow-left animate"></div>
		<div class="rec3 page-arrow animate"></div>
	
</div>

<div id="create-section" class="section section-light">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-pencil fa-fw section-icon section-icon-light animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">CREATE</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Customize Attractive Deals & Specials</h1>
				<h3>Our intuitive merchant dashboard makes it a snap to prepare deals! Simple to use, but powerful enough to provide you with complete control over every facet of your offering.</h3>
			</div>
		</div>
	</div>
</div>

<div id="reach-section" class="section section-dark">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-magnet fa-fw section-icon section-icon-dark animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">REACH</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Magnetize Your Market</h1>
				<h3>Increase your reach by connecting directly with your market. Our promotional tools allow you to simultaneously embrace new customers while rewarding your existing ones!</h3>
			</div>
		</div>
	</div>
</div>

<div id="track-section" class="section section-light">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-signal fa-fw section-icon section-icon-light animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">TRACK</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Connect the Dots</h1>
				<h3>At a glance, our merchant dashboard provides insight into the who, where and how people are using your deals. Learn what methods work best for your business and keep them going with the click of a button!</h3>
			</div>
		</div>
	</div>
</div>

<div id="community-section" class="section section-dark">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-users fa-fw section-icon section-icon-dark animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">COMMUNITY</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Join the Hive</h1>
				<h3>Jump into the real time market! Local merchants and customers have been enjoying our service for years. Take a look at some of our members:</h3>
			</div>
		</div>
	</div>
</div>

<div id="pricing-section" class="section section-light">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-usd fa-fw section-icon section-icon-light animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">PRICING</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Value at Every Tier</h1>
				<h3>Our pricing table is under work but on its way!</h3>
			</div>
		</div>
	</div>
</div>

<div id="signup-section" class="section section-dark">
	<div class="section-inner">
		<div class="section-icon-wrapper">
			<div class="section-icon-inner-wrapper">
				<i class="fa fa-plus-circle fa-fw section-icon animate"></i>
			</div>
			<div class="section-icon-inner-wrapper">
				<p class="section-icon-text">SIGNUP</p>
			</div>
		</div>
		<div class="section-info-wrapper">
			<div id="create-info-section" class="section-info-inner">
				<h1>Wagglez is Here for Local Business</h1>
				<h3>We're here to support and advocate for local businesses and easy access for consumers. Ready to join us? Click here to get started ></h3>
			</div>
		</div>
	</div>
</div>

<div id="footer-wrapper">
	<div class="section-inner">
		<div id="athens_made_wrapper">
			<a href="http://www.athensmade.com" target="_blank"><img id="athens_made" src="https://s3.amazonaws.com/wagglez/athensmadewhite.png" /></a>
		</div>
	</div>
</div>
