<div id="logo-wrapper" class="animate-out">
	<!--<img id="header-bee" class="bee" src="https://s3.amazonaws.com/wagglez/beeright.png">-->
	<table id="nav_inner">
		<tr>
			<td><i id="create_mini" class="nav_mini fa fa-pencil fa-fw animate"></i></td>
			<td><i id="reach_mini" class="nav_mini fa fa-magnet fa-fw animate"></i></td>
			<td><i id="track_mini" class="nav_mini fa fa-signal fa-fw animate"></i></td>
			<td><img id="logo" class="animate-slow" src="https://s3.amazonaws.com/wagglez/wagglezlogo.png"></td>
			<td><i id="pricing_mini" class="nav_mini fa fa-usd fa-fw animate"></i></td>
			<td><i id="community_mini" class="nav_mini fa fa-users fa-fw animate"></i></td>
			<td><i id="signup_mini" class="nav_mini fa fa-plus-circle fa-fw animate"></i></td>
		</tr>
	</table>
</div>

<h3 id="site-welcome">The homegrown, easy-to-use deal management app made for local businesses.<br />Interested? Click a honeycomb to read more.</h3>

<div id="nav-container">
	<div class="hex-container1 animate">
		<div class="recin1 rec1 animate"></div>
		<div class="recin1 rec2 animate"></div>
		<div class="recin1 rec3 animate"></div>
		<div class="recout1 rec1 animate"></div>
		<div class="recout1 rec2 animate"></div>
		<div class="recout1 rec3 animate"></div>
		<i id="create_icon" class="fa fa-pencil fa-fw hex_icon animate"></i>
		<p class="hextext create animate">CREATE<p>
	</div>
	
	<div class="hex-container2 animate">
		<div class="recin2 rec1 animate"></div>
		<div class="recin2 rec2 animate"></div>
		<div class="recin2 rec3 animate"></div>
		<div class="recout2 rec1 animate"></div>
		<div class="recout2 rec2 animate"></div>
		<div class="recout2 rec3 animate"></div>
		<p class="hextext track animate">TRACK<p>
		<i id="track_icon" class="fa fa-signal fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container3 animate">
		<div class="recin3 rec1 animate"></div>
		<div class="recin3 rec2 animate"></div>
		<div class="recin3 rec3 animate"></div>
		<div class="recout3 rec1 animate"></div>
		<div class="recout3 rec2 animate"></div>
		<div class="recout3 rec3 animate"></div>
		<p class="hextext reach animate">REACH<p>
		<i id="reach_icon" class="fa fa-magnet fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container4 animate">
		<div class="recin4 rec1 animate"></div>
		<div class="recin4 rec2 animate"></div>
		<div class="recin4 rec3 animate"></div>
		<div class="recout4 rec1 animate"></div>
		<div class="recout4 rec2 animate"></div>
		<div class="recout4 rec3 animate"></div>
		<p class="hextext signup animate">SIGN UP<p>
		<i id="signup_icon" class="fa fa-plus-circle fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container5 animate">
		<div class="recin5 rec1 animate"></div>
		<div class="recin5 rec2 animate"></div>
		<div class="recin5 rec3 animate"></div>
		<div class="recout5 rec1 animate"></div>
		<div class="recout5 rec2 animate"></div>
		<div class="recout5 rec3 animate"></div>
		<p class="hextext pricing animate">PRICING<p>
		<i id="pricing_icon" class="fa fa-usd fa-fw hex_icon animate"></i>
	</div>
	
	<div class="hex-container6 animate">
		<div class="recin6 rec1 animate"></div>
		<div class="recin6 rec2 animate"></div>
		<div class="recin6 rec3 animate"></div>
		<div class="recout6 rec1 animate"></div>
		<div class="recout6 rec2 animate"></div>
		<div class="recout6 rec3 animate"></div>
		<p class="hextext community animate" style="margin-top: 18px;">COMMUNITY<p>
		<i id="community_icon" class="fa fa-users fa-fw hex_icon animate"></i>
	</div>
	
</div>

<div id="create-section" class="section">
	
</div>

<div id="reach-section" class="section">

</div>

<div id="footer-wrapper">
	<!-- <img id="footer-bee" class="bee" src="https://s3.amazonaws.com/wagglez/beeleft.png"> -->
</div>
