// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

$primary-color: rgba(232,179,69,1);
$secondary-color: rgba(68,55,42,1);

$headline-font: 'font-family: 'Montserrat', sans-serif';


p, a, h1, h2, h3, h4, input, button, form, td, th, label, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none !important;
  font-family: $headline-font;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: $primary-color;
}

.animate {
  @include transition(.25s ease-in-out);
}

.animate-out {
  @include transition(.5s ease-out);
}

.animate-slow {
  @include transition(.5s ease-in-out);
}

#nav-container {
  width: 100px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hex-container1 {
  height: 100px;
  position:absolute;
  top: 20px;
}

.hex-container2 {
  height: 100px;
  position:absolute;
  top: 100px;
  left: 47px;
}

.hex-container3 {
  height: 100px;
  position:absolute;
  top: 100px;
  left: -47px;
}

.hex-container4 {
  height: 100px;
  position:absolute;
  top: 180px;
}

.hex-container5 {
  height: 100px;
  position:absolute;
  top: 180px;
  left: -94px;
}

.hex-container6 {
  height: 100px;
  position:absolute;
  top: 180px;
  left: 94px;
  font-size: 12px;
}

.recout1, .recout2, .recout3, .recout4, .recout5, .recout6 {
  width: 100px;
  height: 58px;
  position: absolute;
  top: 28px;
  cursor: pointer;
  z-index: 1;
  background-color: $secondary-color;
}

.recin1, .recin2, .recin3, .recin4, .recin5, .recin6 {
  width: 86px;
  height: 50px;
  position: absolute;
  top: 32px;
  left: 7px;
  cursor: pointer;
  z-index: 2;
  background-color: $primary-color;
}

.page-arrow {
  width: 86px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 7px;
  z-index: 2;
  background-color: $primary-color;
}

.page-arrow-left {
  border-left: 1px solid white;
}

.page-arrow-right {
  border-right: 1px solid white;
}

.recin4 {
  background-color: white;
  z-index: 5;
}

.recout4 {
  z-index: 4;
}

.rec1 {
  @include rotate(60);
}

.rec2 {
  @include rotate(-60);
}

.hex-outline {
  position: absolute;
  top:0;
  width: 100px;
  height: 115px;
  z-index: 5;
  background-image: url('https://s3.amazonaws.com/wagglez/wagglehexlight.png');
  background-size: contain;
  display:none;
}

.hextext {
  color: $secondary-color;
  position: absolute;
  width: 100px;
  text-align: center;
  z-index: 11;
  font-family: $headline-font;
  cursor: pointer;
  top: 50px;
  font-weight: 700;
}

.heximg {
  width: 50px;
  position: absolute;
  z-index: 10;
  left: 25px;
  bottom: 35px;
}

.createcust {
  width: 60px;
  left: 20px;
  bottom: 37px;
}

.signupcust {
  width: 35px;
  left: 32px;
  bottom: 37px;
}

.heximgwhite {
  opacity: 0;
  cursor: pointer;
}

#logo-wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: $primary-color;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
  z-index: 100;
}

#logo {
  width: 190px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  cursor: pointer;
}

#site-welcome {
  width: 95%;
  max-width: 600px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: $headline-font;
  font-size: 24px;
  margin-top: 135px;
}

.bee {
  width: 20px;
  position: fixed;
  z-index: 101;
}

#header-bee {
  right: 50px;
  top: 30px;
  @include rotate(-20);
}

#footer-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary-color;
}

#footer-bee {
  left: 100px;
  bottom: 50px;
  @include rotate(-20);
}

.section {
  width: 100%;
  height: 400px;
  border-top: 1px solid white;
}

.section-inner {
  width: 95%;
  height: 100%;
  max-width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.section-light {
  background-color: #efefef;
  color: $secondary-color;
}

.section-dark {
  background-color: #444444;
  color: $primary-color;
}

.section-icon-wrapper {
  position: absolute;
  width: 33%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  min-width: 280px;
  top: 50%;
}

.section-icon-light {
}

.section-icon-dark {
}

.section-icon-inner-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
}

.section-icon {
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  text-align: center;
  font-size: 200px;
}

.section-icon-text {
  width: 100%;
  height: 61px;
  font-family: $headline-font;
  font-size: 48px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
}

#create-section {
}

#reach-section {
  
}

.hex_icon {
  color: $secondary-color;
  font-size: 40px;
  position: relative;
  z-index: 15;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.hex_icon_hover {
  color: white !important;
}

#track_icon {
  margin-top: 8px;
}

#reach_icon {
  margin-top: 8px;
}

#signup_icon {
  margin-top: 5px;
  font-size: 43px;
}

#pricing_icon {
  margin-top: 9px;
  font-size: 38px;
}

#community_icon {
  margin-top: 15px;
  font-size: 36px;
}

#nav_inner {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.nav_mini {
  position: relative;
  top: 5px;
  color: $secondary-color;
  font-size: 30px;
  cursor: pointer;
  top: -100px;
  outline: 1px solid transparent;
  padding: 1px;
}

.nav_mini:hover {
  color: #ffffff !important;
}

#create_mini {
  font-size: 30px;
}

#reach_mini {
  font-size: 30px;
}

#track_mini {
  font-size: 30px;
}

#pricing_mini {
  font-size: 30px;
}

#community_mini {
  font-size: 30px;
}

#signup_mini {
}

#footer-wrapper {
  border-top: 1px solid white;
}

.section-info-wrapper {
  width: 65%;
  height: 100%;
  right: 0;
  position: absolute;
}

.section-info-inner {
  width: 90%;
  height: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#athens_made_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

#athens_made {
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  bottom: -200px;
}

#create-info-section {
  width: 100%;
  position: absolute;
  display: block;
  height: 200px;
  top: 50%;
  margin-top: -100px;
}

/* MOBILE CSS RULES START HERE */

@media only screen and (max-width: 649px) {
  
  #site-welcome {
    font-size: 15px;
  }
  
  .nav_mini {
    display: none;
  }
  
  .section-icon-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50px;
    top: 120px;
  }
  
  .section-info-wrapper {
    width: 100%;
    height: 470px;
    right: 0;
    position: absolute;
  }
  
  .section {
    height: 540px;
  }
  
  .section-info-inner {
    text-align: center;
  }
  
  #create-info-section {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    top: 0;
    padding: 0px;
    margin: 0px;
  }
  
}
















